<!-- this page will attempt to find out why the user is deleting their profile -->

<% if user_signed_in? %>
	<h1>Delete Profile</h1>
	
	
	<p>Why are you choosing to delete your profile?</p>


<% end %>
