
<div class="hero-unit">
<h1>Trading Skills for Services Network</h1>
<p>Our Time Exchange Network provides members the means to share their skills and solve problems together.</p>
	<div class="buttons">
		<a class="button action green upper" href="/about"><span class="label">Learn More &raquo; </span></a>
		<a class="button action red upper" href="<%= new_user_registration_path %>"><span class="label">Sign Up Today &raquo;</span></a>
	</div>
		
</div>

  <!-- Example row of columns -->
  <div class="row" id="welcome-info">
	<div class="span1">
		<img src="/images/icons/about_1.png">
	</div>
	<div class="span2">
	  <h3>How does the network work?</h3>
	   <p>Help another single mom in need and earn credit for each hour of service you provide.  In exchange, you can spend your time credits on any of the potential services that other members offer. </p>
	</div>
	<div class="span1">
		<img src="/images/icons/welcome_2.png">
	</div>
	<div class="span2">
	  <h3>What Services are Provided?</h3>
	   <p>Participants provide a service such as childcare, baby sitting, car pooling, homework, piano lessons, house cleaning, resume writing, business skills or whatever they can do. </p>
   </div>
   <div class="span1">
		<img src="/images/icons/about_3.png">
	</div>
	<div class="span2">
	  <h3>Are hours valued equally?</h3>
	  <p>Everyone's time is valued equally. A computer database keeps track of services that members are willing to provide and need, as well as the number of hours they have earned.</p>
	  <div class="buttons">
	  <a class="button action red upper" href="<%= new_user_registration_path %>"><span class="label">Sign Up Today &raquo;</span></a>
	  </div>
	</div>
  </div>

<section id="about" style="padding-top:60px;">
<h1>About Us</h1>
<hr/>
<h3>Community-Based Service Exchange Programs</h3>
<hr/>

<p>
The most effective way to help people is to enable them to help themselves. Moving people forward requires a portfolio of several different strategies. Progress can be made when these strategies are part of a single organization. In the past, our agency viewed itself as a social service organization. Today, it is an organization utilizing many distinct, yet connected, strategies that help women help themselves.
</p>
<p>
CoAbode and our Time Exchange Network are committed to providing solutions for single moms and their children so that they may create choice, change and connection in their lives and in their communities. We organize these solutions into several core services.  Empowerment begins when the most basic human needs are met. That is why we provide self sufficiency programs such as house sharing, support groups and alternative community-based service exchange programs such as:
</p>

<h3>Time Exchange Network</h3>
<hr/>

<p>
The Mission of our Time Exchange Network (TEN) is to strengthen our connections by providing single moms the means to meet each other, share their skills and solve problems together. The TEN members provide a service such as childcare, baby sitting, car pooling, homework, piano lessons, grocery shopping, house cleaning or whatever they can do. Everyone's time is valued equally. A computer database keeps track of services that members are willing to provide and need, as well as the number of hours they have earned.
</p>

<p>
Later, participants can use their earned hours to receive a service they need, like transportation, baby sitting or child care, resume writing and business coaching. The list of services varies depending on the skills, talents and abilities of the members. All services are valued equally.
</p>

<h3>What is Time Exchange All About?</h3>
<hr/>

<p>
Nothing could be simpler than a basic Time Exchange. You give an hour of help. You earn one Time Dollar. The person receiving the help owes one Time Dollar they pay back by helping someone else. Members list what they are willing to do and when they can do it. This is entered into a computer and their need is matched to available members by a computer search.
</p>

<p>
Serves and skills are endless, sewing, cooking, computer services, home repair, tutoring/homework, gardening, photography, babysitting co-ops, admin tasks, resume writing, business couching, web design, legal advice, life coach, office organizing, health care, dog walking, childcare, carpooling, bookkeeping
We value Reciprocity, not in separating providers and receivers. We all have needs, but we all have value and something valuable to offer each other. Rather than asking "How can I help you?", we ask "How can we help each other build the world we both want to live in?" By working together, we accomplish so much more.
</p>

<p>
Time Exchange can change the world we live in by changing the way the public sector addresses the deep social problems our society still faces.
</p>
<p>
Single mothers, children, minorities in poverty, and empty nesters are especially hard hit. In these and other areas of social need, Time Exchange offers a powerful new approach for social and systems change.
</p>

<p>
Our society's problems lead to a tragic loss of human potential. More children come home from school to an empty house, cope with drugs, cross the line into delinquency, and go to schools that lose 40% of those who enter. The problems don't end when they grow up. As adults, these children face constantly shifting job markets, difficulties earning a living wage, unemployment, a shortage of affordable housing and health care.
</p>
<p>
At the other end of the age spectrum, empty nesters face the loss of a useful role and loneliness. Our societal inability to tap their wisdom and their experience deprives their final decades of joy.
</p>
<p>
Time Exchanges offers a new way out of these problems and a set of principles for addressing social challenges like these. 
</p>

</section>

