  <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Mothers Helping Mothers.</h1>
        <p>Join the Time Dollar Network to get your tasks done while you use your talents to help others. </p>
        
		<div class="buttons">
			<a class="button action green upper" href="/about"><span class="label">Learn More &raquo; </span></a>
			<a class="button action red upper" href="<%= new_user_registration_path %>"><span class="label">Sign Up Today &raquo;</span></a>
		</div>
		

	  
	  
	  
	  
	  </div>

      <!-- Example row of columns -->
      <div class="row" id="welcome-info">
		<div class="span1">
			<img src="/images/icons/welcome_1.png">
		</div>
        <div class="span3">
          <h3>How the Network works.</h3>
           <p> See how easy it is to get your services done with other single mothers by doing work for each other. </p>
           <div class="buttons">
		   <a class="button action green upper" href="/about"><span class="label">Learn More &raquo;</span></a>
		  </div>
        </div>
		<div class="span1">
			<img src="/images/icons/welcome_2.png">
		</div>
        <div class="span3">
          <h3>Safety is our main concern.</h3>
           <p>All CoAbode Time Dollar Network members are background-checked and reviewed by our administrative panel of CoAbode.</p>
           <div class="buttons">
		   <a class="button action upper" href="/privacy"><span class="label">Read Our Privacy Policy &raquo;</span></a>
		  </div>
       </div>
	   <div class="span1">
			<img src="/images/icons/welcome_3.png">
		</div>
        <div class="span3">
          <h3>No hidden fees.</h3>
          <p>You earn time dollars by doing work for other people; the more time dollars you earn, the more work will be done for you.</p>
		  <div class="buttons">
		  <a class="button action red upper" href="<%= new_user_registration_path %>"><span class="label">Sign Up Today &raquo;</span></a>
		  </div>
        </div>
      </div>
